
html {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #46b8da;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  background-color: #46b8da;
}
.wrapper {
  background-color: #46b8da;
}
.app {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 10px 10px 50px grey;

}
.main {
  background-color: #FFF;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px 20px 0 20px;
  min-height: 150px;
}

.main .row {
  padding-bottom: 15px;
}

.button, .display {
  border: solid 1px #ccc;
  border-radius: 5px;
}
  .display {
    min-height: 90px;
  }

@media only screen and (max-width : 479px) {
  .display {
    font-size: 16vw;
  }
}
@media only screen and (min-width : 480px) {
  .display {
    font-size: 16vw;
  }
}
@media only screen and (min-width : 768px) {
  .display {
    font-size: 12vw;
  }
}
@media only screen and (min-width : 992px) {
  .display {
    font-size: 4.1vw;
  }
}
@media only screen and (min-width : 1200px) {
  .display {
    font-size: 4.1vw;
  }
}

.miniDisplay {
  font-size: initial;
}

.button {
  padding: 10px;
}

footer {
  padding-bottom: 20px;
}
